<%= form_for(@inventory, :html => { :class => "form-stacked" }) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :category %>
    <div class="input">
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :data %>
    <div class="input">
      <%= f.text_area :data, :rows => 6, :cols => 50 %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :date, "Date (Optional)" %>
    <div class="input">
      <%= f.text_field :date %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Create Task", :class => "btn primary" %>
  </div>
<% end %>
