<% Category.all.each do |cat| %>
  <h2><%= cat.name %> <%= "(#{cat.inventories.count})" %></h2>

  <table id="<%= cat.technical_name %>">
    <tbody>
      <% Inventory.where(:category_id => cat.id).each do |i| %>
        <tr>
          <td class="span14">
            <%= i.data %>
          </td>
          <td class="span1">
            <%= link_to 'Edit', edit_inventory_path(i), :class => "btn" %>
          </td>
          <td class="span1">
            <%= button_to 'Delete', inventory_path(i), :confirm => 'Are you sure?', :method => :delete, :class => "btn danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
