<% Category.all.each do |cat| %>
  <h2><%= cat.name %> <%= "(#{cat.tasks.count})" %></h2>

    <ol class="tasks span16" id="<%= cat.technical_name %>">
      <% Task.where(:category_id => cat.id).order("position ASC").each do |i| %>
        <li id="task_<%= i.id %>" class="task row">
          <div class="span2">
            <%= i.date.try(:strftime, "%d/%m/%Y") %>&nbsp;
          </div>
          <div class="span11">
            <%= i.name %>
          </div>
          <div class="span3 action">
            <%= link_to 'Edit', edit_task_path(i), :class => "btn" %>
            <%= button_to 'Delete', task_path(i), :confirm => 'Are you sure?', :method => :delete, :class => "btn danger" %>
          </div>
        </li>
      <% end %>
    </ol>
<% end %>
