<% Category.all.each do |cat| %>
  <h2><%= cat.name %> <%= "(#{cat.tasks.count})" %></h2>

  <table id="<%= cat.technical_name %>">
    <tbody>
      <% Task.where(:category_id => cat.id).order("position ASC").each do |i| %>
        <tr>
          <td class="span10">
            <%= i.data %>
          </td>
          <td class="span6" style="text-align:right;">
            <%= date_in_words(i.date) unless i.date.nil? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
