<% Category.all.each do |cat| %>
  <h2><%= cat.name %> <%= "(#{cat.tasks.count})" %></h2>

    <ol class="tasks span16" id="<%= cat.technical_name %>">
      <% Task.where(:category_id => cat.id).order("position ASC").each do |i| %>
        <li id="task_<%= i.id %>" class="task row">
          <div class="span13">
            <%= i.name %>
          </div>
          <div class="span3" style="text-align:right;">
            <%= date_in_words(i.date) unless i.date.nil? %>&nbsp;
          </div>
        </li>
      <% end %>
    </ol>
<% end %>
